body{
    margin: 0;
    padding: 0;
    font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.top{
    position: relative;
    margin: 0;
    background-image: url("img/hero_landing_us_alt.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 570px;
    background-position:center;
}
.nav{
    flex: 1 1 0%;
    padding-right: 26px;
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
}
.nav a{
    text-decoration: none;
}
.nav a:first-child{
    margin-right: 20px;
    padding-top: 12px;
    font-weight: 700;
    font-size: 17px;
    color: white;
}
.nav a:last-child{
    color:black;
    border:1px solid white;
    border-radius: 50px;
    width: 90px;
    height: 30px;
    text-align: center;
    padding-top: 11px;
    background: white;
    color: #494949;
    font-weight: 700;
    font-size: 17px;
}
.logo{
    width: 210px;
    display: flex;
    justify-content: space-between;
}
.doordashlogo{
   visibility: hidden;
}
.heading{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.heading h3{
    margin-top: -30px;
    font-size: 27px;
    letter-spacing: 0.2pc;
    font-weight: 700;
    color: white;
}
.head1{
    margin-bottom: 0;
    margin-top: 90px;
    font-size: 64px;
    color: white;
}
.head2{
    margin-top: 0;
    font-size: 64px;
    margin-bottom: 10px;
    color: white;
}
#location{
    display: flex;
    flex: 1;
    flex-direction: column;
}
.heading input{
    border-radius: 30px;
    width: 380px;
    height: 45px;
    border: none;
    font-size: 16px;
    margin-top: 20px;
    outline-color: #5f5ff0;
}
.location{
    position: absolute;
    height: 30px;
    display: flex;
    margin-right: 400px;
    padding-left: 5px;
    width: 25px;
    height: 28px;
    align-self: center;
    margin-top: 29px;
}

.address{
    padding-left: 40px;
}
.round-button{
    background-color: red;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    right: 50px;
    top: 4px;
}
#location a{
    margin-top: 20px;
}
#location .signin{
    color: white;
    text-align: center;
    padding-right: 30px;
}
.mid{
    width: 70%;
    margin: 100px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.mid h2{
    font-size: 30px;
    font-weight: 600;
    width: 100%;
}
.mid p{
    line-height: 22px;
    font-weight:500;
    font-size: 16px;
}
.mid1, .mid2, .mid3{
    width: 20%;
    text-align: center;
}
.mid1 img{
    width: 70%;
}
.mid2 img{
    width: 70%;
}
.mid3 img{
    width: 70%;
}
.mid2 p{
    padding: 0 10px;
}
.mid3 p{
    padding: 0 20px;
}
.mid a{
    text-decoration: none;
    color: #eb1700;
    font-weight: 600;
}
.mid ion-icon{
    position: absolute;
    padding-left: 8px;
    width: 12px;
    padding-top: 1px;
}

.bg{
    background-color: #fff0ed;
    margin-top: -50px;
    padding-bottom: 100px;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.part1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.part1 h1{
    font-size: 35px;
    max-width: 100%;
    font-weight: 700;
    letter-spacing: -0.04ch;
}
.top-head{
    display: block;
}
.toph1 h1{
    margin-bottom: 0;
}
.toph2 h1{
    margin-top: 0;
}
.part1 img{
    max-width: 100%;
    width: 95%;
    position: relative;
    z-index: 1;
}
.part2 img{
    max-width: 100%;
    width: 95%;
    margin-bottom: 0;
}
.content p{
    font-size: 18px;
    font-weight: 500;
    margin-top: 0;
}
.part2{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin-top: 110px;
}
.part2 h1{
    font-size: 35px;
    max-width: 100%;
    font-weight: 700;
    letter-spacing: -0.04ch;
}
.part1 .text-content1, .part2 .text-content2{
    width: 20%;
    text-align: left;
}
.part1 .text-content1{
    padding-right: 30px;
    justify-items: center;
    display: flex;
    flex-direction: column;
}
.part2 .text-content2{
    padding-left: 30px;
}
.part1 button{
    border: 1px solid white;
    background-color: #eb1700;
    border-radius: 20px;
    width: 35%;
    height: 40px;
    font-size: medium;
    font-weight: 600;
}
.part2 button{
    border: 1px solid white;
    background-color: #eb1700;
    border-radius: 20px;
    width: 45%;
    height: 40px;
    font-size: medium;
    font-weight: 600;
}
.content button:hover{
    background-color: #c51502;
    cursor: pointer;
}
.content a{
    text-decoration: none;
    color: white;
}

.footerbg{
    background-color: #191919;
}
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1200px;
    margin: auto;
}
.footer h4{
    color: white;
    margin-bottom: 10px;
}
.footer-top, .footer-mid, .footer-bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 20px 10px;
}
.footer-top1{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.footer-top2{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.cities{
    display: flex;
    flex-direction: row;
}
.cities1, .cities2, .cities3{
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 12px;
}
.cuisines{
    display: flex;
}
.cuisines1, .cuisines2{
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 12px;
}
.footer-mid1{
    display: flex;
    width: 50%;
}
.footer-mid2{
    padding-top: 42px;
}
.appstore{
    background-color: #494949;;
    margin-bottom: 10px;
    border-radius: 9px;
    opacity: 0.7;
    max-width: 144px;
}
.google{
    background-color: #494949;;
    margin-top: 10px;
    border-radius: 9px;
    opacity: 0.7;
    max-width: 144px;
}
.know, .help, .business{
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 12px;
}
.footer a, .bottom1 p{
    font-size: 13px;
    color: #c4c4c4;
    text-decoration: none;
}
.footer a:hover{
    color: white;
    text-decoration: underline;
}
.bottom1{
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    align-items: center;
} 
.bottom1 a{
    flex: 1;
    flex-basis: content;
}
.bottom1 img{
    width: 50%;   
}
.bottom1 a p{
    font-size: smaller;
}
.bottom2{
    width: 10%;
    display: flex;
}
.bottom2 a{
    flex: 1;
    color: #727070;
}
.last{
    height: 3px;
    width: 100%;
    margin: 10px;
}







@media screen and (max-width: 480px){
    .top{
        height: 470px;
    }
    .nav a{
        margin-top: 5px;
    }
    .nav a:first-child, .nav a:last-child{
        font-size: 16px;
    }
    .logo{
        display: none;
    }
    .doordashlogo img{
       visibility: visible;
        width: 60px;
        margin-top: 50px;
    }
    .heading{
        justify-content: center;
    }
    .head1,.head2{
        font-size: 31px;
    }
    .head1{
        margin-top: 30px;
        margin-bottom: 6px;
    }
    .head2{
        margin-bottom: 9px;
    }
    #location{
        position: relative;
        width: 60%;
    }
    .heading input{
        width: 80%;
        border-radius: 20px;
    }
    .round-button{
        background-color: white;
        color: black;
        position: absolute;
        right: 20px;
    }
    .mid{
        width: 90%;
        margin-top: 50px;
    }
    .mid1, .mid2, .mid3{
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
    }
    .class1, .class2, .class3{
        padding-left: 30px;
        text-align: left;
    }
    .class2 h2{
        width: 60%;
    }
    .mid h2{
        font-size: 32px;
        initial-letter: 0.04ch;
        margin-bottom: 0;
    }
    .mid a{
        font-size: 14px;
    }
    .mid p{
        font-size: 18px;
        padding: 0;
        margin-top: 0;
        font-weight: 500;
        width: 90%;
    }
    .mid1 img, .mid2 img, .mid3 img{
        width: 23%;
    }

    .bg{
        margin-top: -330px;
        height: 850px;
    }
    .part1 img{
       width: 100%;
    }
    .part1{
        display: flex;
        flex-direction: column-reverse;
    }
    .part1 .image1{
        size: 60%;
        margin-left: 64px;
    } 
    .part2{
        display: flex;
        flex-direction: column-reverse;
        padding-top: 280px;
    }
    .part2 .image2{
        size: 60%;
        margin-right: 64px;
    }
    .part1 .text-content1{
        width: 70%;
        z-index: 1;
    }
    .part2 .text-content2{
        width: 70%;
        padding-left: 56px;
    }
    .part1 button{
        width: 32%;
        height: 37px;
    }
    .part2 button{
        width: 40%;
    }
    .content p{
        font-size: 14px;
    }
    .content a{
        font-size: 14px;
    }
    .top-head h1{
        font-size: 24px;
    }
    .top-head{
        display: flex;
    }
    .top-head .toph2{
        padding-top: 16px;
        padding-left: 5px;
    }
    .text-content2 h1{
        font-size: 24px;
    }  
    
    .cities, .cuisines{
        flex-direction: column;
        justify-content: center;
        gap: 15px;
    }
    .footer-top1, .footer-top2{
        text-align: center;
    }
    .footer-mid{
        flex-direction: column-reverse;
        text-align: center;
    }
    .footer-mid1{
        flex-direction: column;
        width: 100%;
    }
    .footer-mid2{
        margin: 0 auto;
    }
    .footer-bottom{
        flex-direction: column-reverse;   
        justify-content: center;
        text-align: center;
    }
    .bottom1, .bottom2{
        margin: 0 auto;
    }
    .bottom1{
        width: 100%;
        flex-wrap: wrap;
    }
    .bottom1 a{
        font-size: 12px;
        width: fit-content;
    }
    .bottom2{
        width: 30%;
    }
    
}